<!DOCTYPE html>
<html lang="fr" data-bs-theme="dark">
<head>
  <meta charset="UTF-8"/>
  <title>Construire le test</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

  <meta name="author" content="Karim Morel - Développeur web" />
  <meta name="copyright" content="Morel Karim" />
  <meta name="creation_Date" content="12-02-2020" />

  <!-- Assets -->
  <link rel="stylesheet" href="/config.css" />
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
</head>
<body>

<div id="word-list" class="table-responsive">

    <h1><%= language.name %> list (<%= words.length %> word<% if (words.length > 1) { %>s<% } %>)</h1>
    <br/>

    <table class="table table-stripped table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th colspan="1">Asked Word</th>
                <th colspan="1">Answer</th>
                <th colspan="1">Pronunciation</th>
                <% if(!locals.essential) { %>
                <th colspan="1">Good answer</th>
                <th colspan="1">Wrong answer</th>
                <th colspan="1">Average</th>
                <th colspan="1">Favorite</th>
                <th colspan="1">Action</th>
                <% } %>
            </tr>
        </thead>
        <tbody>
            <% for(var key in words) { %>
                <% if(words[key].class == 'new') { %>
                    <tr class="info">
                        <% } else if (words[key].class == 'success') { %>
                    <tr class="success">
                        <% } else if (words[key].class == 'danger') { %>
                            <tr class="danger">
                    <% } else { %>
                    <tr>
                    <% } %>
                    <td><%= words[key].focused_language_translation %></td>
                    <td><%= words[key].main_language_translation %></td>
                    <td><%= words[key].pronunciation %></td>
                    <% if(!locals.essential) { %>
                    <td><%= words[key].answered %></td>
                    <td><%= words[key].failed %></td>
                    <% if(words[key].answered+words[key].failed != 0) { %>
                    <td><%= parseFloat(words[key].answered/(words[key].answered+words[key].failed)*100).toFixed(1) %>%</td>
                    <% } else { %>
                    <td>Never asked</td>
                    <% } %>
                    <td>
                        <% if(words[key].favorite) { %>
                        <a href="/removefromfav/<%= slug %>/<%= words[key].id %>">Yes</a>
                        <% } else { %>
                            <a href="/addtofav/<%= slug %>/<%= words[key].id %>">No</a>
                            <% } %>
                    </td>
                    <td><a href="/delete/<%= slug %>/<%= words[key].id %>">Delete</a></td>
                    <% } %>
                </tr>
                <% } %>
        </tbody>
    </table>
    <br/>

    <% if (message) { %>
    <div id="block-message" class="alert alert-info" role="alert">
        <%= message %>
    </div>
    <% } %>

    <div id="words-stats">
        <h3>Stats</h3>
        <p>Success : <%= wordsstats.success %></p>
        <p>Neutral : <%= wordsstats.neutral %></p>
        <p>Danger : <%= wordsstats.danger %></p>
        <p>New : <%= wordsstats.new %></p>
        <p>Number of good answers : <%= wordsstats.answered %></p>
        <p>Number of bad answers : <%= wordsstats.failed %></p>
        <p>Number of answers : <%= wordsstats.answered + wordsstats.failed %></p>
    </div>

    <div id="block-add-word">
        <h3>Add a new word</h3>
    <form action="/<%= slug %>" method="post" >
        <div class="form-group">
          <label id="title-english-word" for="english-word"><%= language.name %></label>
          <input type="text" class="form-control" id="title-english-word-input" name="englishword" autofocus>
        </div>
        <div class="form-group">
          <label id="title-french-word" for="french-word">Answer</label>
          <input type="text" class="form-control" id="title-french-word-input" name="frenchword">
        </div>
        <div class="form-group">
            <label id="title-pronunciation" for="pronunciation">Pronunciation</label>
            <input type="text" class="form-control" id="title-pronunciation-input" name="pronunciation">
          </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      </div>



    <br/>

<a href="/test/<%= slug %>"><button class="btn btn-info">Take the <%= language.name %> test</button></a></br><br/>
<a href="/test/<%= slug %>/15"><button class="btn btn-info">Take the <%= language.name %> limited test (15)</button></a></br><br/>
<a href="/convert-to-speech/<%= slug %>"><button class="btn btn-info">Convert to Speech</button></a></br><br/>
<a href="/<%= slug %>?essential=true"><button class="btn btn-info">Show only essential columns</button></a></br><br/>
<a href="/languages"><button class="btn btn-success">Configure languages</button></a>

</div>


</body>
</html>
