<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8"/>
  <title>Passer le test</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <script src="/jquery.js"></script>
  
  <meta name="author" content="Karim Morel - Développeur web" />
  <meta name="copyright" content="Morel Karim" />
  <meta name="creation_Date" content="12-02-2020" />

  <!-- Assets -->
  <link rel="stylesheet" href="/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Kosugi&display=swap" rel="stylesheet">
  <script src="/socket.io/socket.io.js"></script>
  <link href="/fontawesome/css/all.css" rel="stylesheet">
</head>
<body>
    <div id="content">
        <div id="count-answers">
            <p id="count-correct-answers">Correct : <%= intCorrectAnswers %></p>
            <p id="count-wrong-answers">Wrong : <%= intWrongAnswers %></p>
        </div>
<h1><%= language %></h1>
<p class="count"> <%= arrRandomCount %> / <%= arrFullCount %> </p>

<h2><%= wordtoguess %></h2>
<%if (reverse == false && show_pronunciation == 1 && !language.includes("kanj")) { %><h5><%= pronunciation %></h5><% } %>

<div id="block-message"><%if (strGuess) { %>Wrong answer<% } %></div>

<div id="block-add-word">
    <%if (limited == true) { %>
    <form action="/response/<%= id %>/<%= language %>/<%= numberofwords %>" method="get" class="form-add-translation" autocomplete="off"> 
        <% } else { %>
    <form action="/response/<%= id %>/<%= language %>" method="get" class="form-add-translation" autocomplete="off"> 
        <% } %>
        <input type="text" name="response" id="response" value="<%= strGuess %>" autofocus>
        <br/>
        <input type="submit" id="submit-response">
        <br/>
    </form>

    <%if (limited == true) { %>
        <a href="/test/<%= language %>/<%= numberofwords%>/askforanswer" id="link-ask-answer">
            <button id="button-ask-answer">
                Demander la réponse
            </button>
            </a>
        <% } else { %>
            <a href="/test/<%= language %>/askforanswer" id="link-ask-answer">
                <button id="button-ask-answer">
                    Demander la réponse
                </button>
                </a>
       <% } %>
    
</div>
<div id="answers-container">
    <div id="answers-close">+</div>
    <ul id="answers-list">
        <li>Vide</li>
    </ul>
</div>

<a href="/<%= language %>">Configurer le test</a>
<%if (limited == true) { %>
    <a href="/reboot/<%= language %>/<%= numberofwords %>">Reboot le test</a>
    <a class="redo" href="/redo/<%= language %>/<%= numberofwords %>">Retake the same test</a>
    <% } else { %>
        <a href="/reboot/<%= language %>">Reboot le test</a>
        <% } %>

<%if (reverse == false && show_pronunciation == 1 && language.includes("kanj")) { %><h5 style="font-size: 28px;"><%= pronunciation %></h5><% } %>
</div>

<div id="night-mode">
    <i class="fas fa-moon"></i>
</div>
</body>
<script src="/script.js"></script>
<script>
    var socket = io('http://localhost:8080');
    var id = <%= id %>;
    var language = "<%= language %>";

    $('#submit-response').click(function(){
        <%if (limited == true) { %>
        socket.emit('submit-answer-limited', {answer : $('#response').val(), id : id, language : language, numberofwords : <%= numberofwords %>});
        <% } else { %>
        socket.emit('submit-answer', {answer : $('#response').val(), id : id, language : language, 'reverse' : <%= reverse %>});
            <% } %>
        $('#block-message').html('');
        return false;
    });

    // Ask for the correct answers list
    $('#count-correct-answers').click(function(){
        <%if (limited == true) { %>
            socket.emit('list-of-correct-answers-limited', {'language' : language});
            <% } else { %>
                socket.emit('list-of-correct-answers', {'language' : language});
                <% } %>
    });

    // Ask for the wrong answers list
    $('#count-wrong-answers').click(function(){
        <%if (limited == true) { %>
            socket.emit('list-of-wrong-answers-limited', {'language' : language});
            <% } else { %>
                socket.emit('list-of-wrong-answers', {'language' : language});
                <% } %>
    });

    socket.on('good-answer', function (data) {

        id = data.id;
        count = data.count;
        totalCount = data.total;

            strWordToGuess = data.strWordToGuess;
            strPronunciation = data.pronunciation;


        // Answers Count Update
        $('#count-correct-answers').html('Correct : '+data.intCorrectAnswers)
        $('#count-wrong-answers').html('Wrong : '+data.intWrongAnswers)

        // Html Update
        $('h2').html(strWordToGuess);
        $('h5').html(strPronunciation);
        $('#response').val('');
        $('.count').html(count + ' / ' + totalCount);
        $('#response').focus();
    });

    socket.on('wrong-answer', function () {
        $('#block-message').html('Wrong answer');
        $('#response').focus();
    });

    socket.on('end-of-the-quizz', function () {
        $('h2').html('Fin de la partie')
        $('#response').hide();
        $('.count').hide();
        $('#submit-response').hide();
        $('#button-ask-answer').hide();
        $('.redo').show();
    });

    socket.on('show-answers-list', function (data) {
        var strAnswersList = '';
        for (answer in data.list)
        {
            strAnswersList += '<li>'+data.list[answer].guess+' : '+data.list[answer].answer+'</li>';
        }

        $('#answers-list').html(strAnswersList);
        $('#answers-container').css({right:0});
    });

    $('#answers-close').click(function (){
        $('#answers-container').css({right:'-40%'});
    });

    /* Ask for the answer - websocket with javascript, link without */
    $('#link-ask-answer').click(function(e){
        socket.emit('ask-for-answer', {'language' : language, 'id' : id, 'limited' : <%= limited %>});
        e.preventDefault();
    });

    socket.on('get-the-answer', function(data) {
        $('#response:text').val(data.answer);
    });

</script>
</html>
